.head_conteiner {
  background-color: var(--main_coloor);
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
}
.head_items {
  @include flex-centr;
  padding: 50px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.head_title {
  font-size: 96px;
  font-weight: 700;
}
.head_subtitle {
  font-weight: 500;
  font-size: 16px;
}
.head_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.swirl {
  left: 0;
}
.stars {
  right: 20px;
}

.lines {
  background-color: black;
  width: 100%;
  height: 1px;
  margin: 30px 0;
}
.platforms {
  display: flex;
  justify-content: space-between;
}
.about_section {
  @include flex-centr;
  text-align: center;
  margin: 0 auto;
  gap: 40px;
  flex-direction: column;
}
.about_title {
  @include title;
  margin: 40px;
}
.about_content_items {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about_item {
  max-width: 470px;
}
// about section
.quait_content {
  width: 100%;
  position: relative;
}
.curl {
  position: relative;
  top: -60px;
}
.quote {
  background-color: var(--main_coloor);
  @include flex-centr;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  padding-top: 50px !important;
  h3 {
    font-size: 36px;
    text-align: center;
  }
}
.star {
  position: absolute;
  top: -50px;
  right: 40px;
}
.vector {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.quote_john {
  @include flex-centr;
  gap: 10px;
  padding-bottom: 40px;
}

// testimonials_conteiner

.testimonials_conteiner {
  background-color: #edf3f7;
}
// adaptive
@media (max-width: 1024px) {
  .head_img,
  .star,
  .vector {
    display: none;
  }
}
@media (max-width: 768px) {
  .platforms,
  .lines {
    display: none;
  }
  .head_title {
    font-size: 50px;
  }
  .about_content_items {
    flex-direction: column;
  }
  .about_title {
    font-size: 30px;
    margin: 20px;
  }
}
@media (max-width: 320px) {
  .head_title {
    font-size: 25px;
  }
}
