header {
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0;
  background-color: #f7ede8;
}
header .header_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_conteiner .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .header_conteiner .header_nav .logo {
  margin-right: 20px;
}

.nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  gap: 20px;
}
.nav_items .nav_item {
  padding: 15px;
}
.nav_items .nav_item:hover {
  border-radius: 5px;
  background: white;
}

.more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.more:hover .nav_falling_items {
  display: block;
}
.more img {
  margin-left: 10px;
}

.nav_falling_items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav_falling_items .nav_falling_item {
  padding: 12px 16px;
}
.nav_falling_items .nav_falling_item:hover {
  background-color: #f1f1f1;
}
.nav_falling_items .nav_falling_item a {
  text-decoration: none;
  color: black;
  display: block;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.buttons .btn {
  background-color: black;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--main_coloor);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2823529412);
          box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2823529412);
  font-family: var(--main_font);
}
.buttons .btn:hover {
  background-color: red;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.341);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.341);
}
.buttons .light {
  background-color: var(--main_coloor);
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 2px black;
}
.buttons .light:hover {
  background-color: white;
}

.popover {
  margin: auto;
}
.popover form {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  background-color: var(--main_coloor);
}
.popover form input {
  padding: 10px;
  border: none;
  background-color: var(--main_coloor);
  border-bottom: 1px solid black;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 5px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 5px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color: white;
  padding-top: 120px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.121);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.121);
  width: 100%;
  -webkit-transform: translate(150%);
          transform: translate(150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 50px 0 30px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .nav_items {
    display: none;
  }
}
.btn {
  background-color: black;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--main_coloor);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2823529412);
          box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2823529412);
  font-family: var(--main_font);
}
.btn:hover {
  background-color: red;
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.341);
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.341);
}

footer {
  margin: 0 auto;
  max-width: 1160px;
}

hr {
  margin: 20px 0;
}

.footer_subtitle {
  font-weight: 500;
  size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_content {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_content .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer_content .social_links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer_apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer_apps .footer_platforms .platform_title {
  margin-bottom: 40px;
}
.footer_apps .footer_platforms .platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.footer_apps .footer_platforms .platforms .platform {
  display: inline;
}

.social_icons {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.local_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.local_links .links_local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.local_links .links_local .local_link:hover {
  color: red;
}

@media (max-width: 1024px) {
  .footer_content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer_content .local_links {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer_content {
    margin: 140px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    margin: auto;
  }
  .footer_subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .platform_icon {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .footer_apps .footer_platforms .platforms {
    gap: 10px;
  }
  .footer_apps .footer_platforms .platforms .platform_title {
    margin-bottom: 10px;
  }
}
:root {
  --main_coloor: #f7ede8;
  --main_font: "Montserrat Alternates", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}